# AWS S3
KeyID=your_aws_key_id
AccessKey=your_aws_secret_key
bucket=your_bucket_name
key=your_file.csv

# Database
DB_HOST=mysql
DB_USER=root
DB_PORT=3306
DB_PASSWORD=your_password
DB_NAME=govdata